<header data-aos="zoom-in-up" data-aos-duration="1000" id="about" class="section">
    <h1>Benjamin Thompson</h1>
    <p> I am a Software Developer with over 1 year of experience and a Bachelor's Degree in
        Computer Science from the University of Southern Maine.</p>
    <div class="social-links">
        <a href="https://www.github.com/bthompson7" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-github" href=""></i></a>
        <a href="https://www.linkedin.com/in/benpthompson" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-linkedin" href=""></i></a>
    </div>
</header>