<section class="section">
        <h1 class="section-header">About Me</h1>
        <p class="about-me-desc"> I'm a Software Developer with over 2 years of experience and a Bachelor's Degree in
            Computer Science from the University of Southern Maine. Check out my GitHub to see what I'm working on or connect with me on Linkedin!</p>
    <div class="social-links footer-styles">
        <a href="https://www.github.com/bthompson7" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-github" href=""></i></a>
        <a href="https://www.linkedin.com/in/benpthompson" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-linkedin" href=""></i></a>
    </div>
</section>