 <section class="section">
        <h1 class="section-header">Experience</h1>
    <div class="experience">

        <div class="experience-block">
            <img src="./assets/img/maine.png" alt="State of Maine Logo" />
            <h3><b>Maine Revenue Services, Application Development</b></h3>

            <div class="job-info">
                <p class="job-title">Programmer Analyst</p>
                <p>&middot;</p>
                <p #jobTime class="job-time">July 2023 - Present</p>
            </div>

            <div class="skills-list">
                <i class="devicon-csharp-line-wordmark"></i>
                <i class="devicon-visualbasic-plain"></i>
                <i class="devicon-dot-net-plain-wordmark colored"></i>
                <i class="devicon-visualstudio-plain colored"></i>
                <i class="devicon-java-plain colored"></i>
                <i class="devicon-subversion-original colored"></i>
                <i class="devicon-microsoftsqlserver-plain-wordmark colored"></i>
            </div>
        </div>

        <div class="experience-block">
            <img src="./assets/img/maine.png" alt="State of Maine Logo"/>
            <h3><b>Maine Revenue Services, Application Development</b></h3>
            <div class="job-info">
                <p class="job-title">Computer Programmer</p>
                <p>&middot;</p>
                <p #jobTime class="job-time">March 2021 - July 2023</p>
            </div>

            <div class="skills-list">
                <i class="devicon-dot-net-plain-wordmark colored"></i>
                <i class="devicon-visualbasic-plain"></i>
                <i class="devicon-visualstudio-plain colored"></i>
                <i class="devicon-java-plain colored"></i>
                <i class="devicon-spring-plain colored"></i>
                <i class="devicon-html5-plain colored"></i>
                <i class="devicon-css3-plain colored"></i>
                <i class="devicon-subversion-original colored"></i>
                <i class="devicon-microsoftsqlserver-plain-wordmark colored"></i>
                <i class="devicon-sqldeveloper-plain"></i>
            </div>
        </div>

    </div>
</section>
