 <section class="section">
        <h1 class="section-header">Experience</h1>
    <div class="experience">

        <div class="experience-block">
            <div class="experience-header">
                <img src="./assets/img/maine.png" alt="State of Maine" />
                <h2 class="experience-company">State of Maine</h2>
            </div>

            <h3 class="job-title">Programmer Analyst</h3>
            <div class="job-info">
                <p #jobTime class="job-time">July 2023 - Present</p>
            </div>

            <div class="skills-list">
                <i class="devicon-csharp-line-wordmark"></i>
                <i class="devicon-visualbasic-plain"></i>
                <i class="devicon-dot-net-plain-wordmark colored"></i>
                <i class="devicon-visualstudio-plain colored"></i>
                <i class="devicon-java-plain colored"></i>
                <i class="devicon-microsoftsqlserver-plain-wordmark colored"></i>
            </div>

            <h3 class="job-title">Computer Programmer</h3>
            <div class="job-info">
                <p #jobTime class="job-time">March 2021 - July 2023</p>
            </div>

            <div class="skills-list">
                <i class="devicon-dot-net-plain-wordmark colored"></i>
                <i class="devicon-visualbasic-plain"></i>
                <i class="devicon-visualstudio-plain colored"></i>
                <i class="devicon-java-plain colored"></i>
                <i class="devicon-spring-plain colored"></i>
                <i class="devicon-html5-plain colored"></i>
                <i class="devicon-css3-plain colored"></i>
                <i class="devicon-microsoftsqlserver-plain-wordmark colored"></i>
                <i class="devicon-sqldeveloper-plain"></i>
            </div>
        </div>

    </div>
</section>
