.job-info p{
  display: inline;
  margin: 5px;
}

.experience{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .experience-block {
    margin: 0px;
    flex: 1 0 41%; /* 41% for 2 items per row , 21% for 4 */

  }

  @media(max-width:768px){
    .experience{
        flex-direction:column;
}
}