<header id="experience" class="section">
    <div class="section-header">
        <h1>Experience</h1>
    </div>
    <div class="experience">

        <!-- experience block -->

        <div class="experience-block">
            <a href="https://www.maine.gov/revenue/" target="_blank" rel="noopener noreferrer"><img
                    src="./assets/img/maine.png" alt="State of Maine Logo" /></a>
            <h3><b>State of Maine, Revenue Services</b></h3>

            <div class="job-info">
                <p class="job-title">Computer Programmer</p>
                <p>&middot;</p>
                <p #jobTime class="job-time">March 2021 - Present</p>
            </div>

            <!-- skills used -->
            <div class="skills-list">
                <i class="devicon-dot-net-plain-wordmark"></i>
                <i><img src="./assets/img/vb_logo.png"></i>
                <i class="devicon-visualstudio-plain"></i>
                <i class="devicon-java-plain colored"></i>
                <i class="devicon-spring-plain colored"></i>
                <i class="devicon-html5-plain colored"></i>
                <i class="devicon-css3-plain colored"></i>
                <i class="devicon-subversion-original colored"></i>
                <i class="devicon-microsoftsqlserver-plain colored"></i>
                <i class="devicon-oracle-original colored"></i>
            </div>
        </div>






    </div>
</header>