.job-info p{
  display: inline;
  margin: 5px;
}

.experience{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .experience-block {
    margin: 10px;
    text-align: center;
    font-size: 17px;
  }

  .experience-block img {
    width: 100px;
    height: 100px;
  }

