<header id="projects" class="section">
    <div class="section-header">
        <h1>Projects</h1>
    </div>

    <div class="projects">

        <div class="project-block">
            <h3>Portfolio Website</h3>
            <div class="social-links">
                <a href="https://github.com/bthompson7/portfolio" target="_blank" rel="noopener noreferrer">
                    <i class="fa fa-github" href=""></i></a>
                <a href="https://benpthom.com" target="_blank" rel="noopener noreferrer">
                    <i class="fa fa-link fa-rotate-90" href=""></i></a>
            </div>
            <div class="project-info">
                <div class="skills-list">
                    <i class="devicon-angularjs-plain colored"></i>
                    <i class="devicon-devicon-plain-wordmark"></i>
                    <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
                </div>
            </div>
        </div>

        <div class="project-block">

            <h3>Raspberry Pi IoT Web App</h3>
            <div class="social-links">
                <a href="https://github.com/bthompson7/rpi-iot-serverless" target="_blank" rel="noopener noreferrer">
                    <i class="fa fa-github" href=""></i></a>
                <a href="https://homesensor.info" target="_blank" rel="noopener noreferrer">
                    <i class="fa fa-link fa-rotate-90" href=""></i></a>
            </div>
            <div class="project-info">
                <div class="skills-list">
                    <i class="devicon-angularjs-plain colored"></i>
                    <i class="devicon-go-original-wordmark colored"></i>
                    <i class="devicon-python-plain colored"></i>
                    <i class="devicon-mysql-plain colored"></i>
                    <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
                    <i class="devicon-raspberrypi-line colored"></i>
                </div>
            </div>

        </div>
    </div>
</header>

<div id="cy"></div>