<header id="projects" class="section">
    <div class="section-header">
        <h1>Projects</h1>
    </div>
    <h3>Raspberry Pi IoT Web App</h3>
    <div class="project-info">
        <div class="skills-list">
            <i class="devicon-angularjs-plain colored"></i>
            <i class="devicon-python-plain-wordmark colored"></i>
            <i class="devicon-mysql-plain-wordmark colored"></i>
            <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
            <i class="devicon-raspberrypi-line colored"></i>
        </div>
        <a href="https://www.homesensor.info/" target="_blank">Live</a>
        <a href="https://github.com/bthompson7/rpi-iot-serverless" target="_blank">Github</a>
    </div>

</header>