.projects{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project-block{
    margin: 10px;
    flex: 1 0 41%; /* 41% for 2 items per row , 21% for 4 */
}

@media(max-width:768px){
    .projects{
        flex-direction:column;
}
}