

.nav-bar-top{
    display: flex;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    transition: top 0.3s;
    min-height: 2.5em;
    left:0;

}

.nav-bar-top button {
    position: fixed;
    right: 0;
    top: 0;
    background-color: transparent;
    display: inline-block;
    width: 3em;
    background-size: auto;
    min-height: 3em;
  }

  .nav-bar-top i{
    font-size: 30px;
  }

.site-nav-side{
    background-color: #fff;
    position: fixed;
    height: 100%;
    width: 250px;
    right: 0;
    top: 0;
    margin-top: 10px;
    min-height: 3em;
    display: none;
  }
  
  .site-nav-side li, a, ul {
    font-size: 20px;
    padding: 5px;
    list-style-type: none;
    text-transform: uppercase;
    text-decoration: none;
    justify-content: center;
  }
  
  a:hover{
    color: red;
  }
  