<div>
    <div class="nav-bar-top">
        <button #navBtn>
            <i class="fa fa-solid fa-bars"></i>

        </button>
    </div>

    <nav id="site-nav-side" class="site-nav-side" #siteNavSide>
        <ul>
            <a href="#about" class="anchor">
                <li>About</li>
            </a>
            <a href="#experience" class="anchor">
                <li>Experience</li>
            </a>
            <a href="#skills" class="anchor">
                <li>Skills</li>
            </a>
            <a href="#projects" class="anchor">
                <li>Projects</li>
            </a>
        </ul>

    </nav>

</div>