<div>
    <div class="nav-bar-top">
        <button #mobileNavBtn>
            <i class="fa fa-solid fa-bars"></i>
        </button>

        <!-- desktop nav -->
        <div class="site-nav-desktop" #siteNavDesktop>
            <a href="#about" class="anchor">
                <li>About</li>
            </a>
            <a href="#experience" class="anchor">
                <li>Experience</li>
            </a>
            <a href="#skills" class="anchor">
                <li>Skills</li>
            </a>
            <a href="#projects" class="anchor">
                <li>Projects</li>
            </a>
        </div>
    </div>

    <!-- mobile nav-->
    <nav id="site-nav-mobile" class="site-nav-mobile" #siteNavMobile>
        <ul>
            <a href="#about" class="anchor">
                <li>About</li>
            </a>
            <a href="#experience" class="anchor">
                <li>Experience</li>
            </a>
            <a href="#skills" class="anchor">
                <li>Skills</li>
            </a>
            <a href="#projects" class="anchor">
                <li>Projects</li>
            </a>
        </ul>
    </nav>
</div>