<div>
    <div class="nav-bar-top">
        <button #navBtn></button>
    </div>

    <nav id="site-nav-side" class="site-nav-side" #siteNavSide>
        <ul>
            <a href="#aboutHeader" class="anchor">
                <li>About</li>
            </a>
            <a href="#experienceHeader" class="anchor">
                <li>Experience</li>
            </a>
            <a href="#skillsHeader" class="anchor">
                <li>Skills</li>
            </a>
        </ul>

    </nav>

</div>