<header id="skillsHeader" class="section">
    <div class="section-header">
        <h1>Skills &#38; Tools</h1>
    </div>

    <div class="skills-list">

        <!-- languages -->
        <i class="devicon-java-plain-wordmark"></i>
        <i class="devicon-python-plain-wordmark"></i>
        <i class="devicon-javascript-plain-wordmark"></i>
        <i class="devicon-html5-plain-wordmark"></i>
        <i class="devicon-css3-plain-wordmark"></i>

        <!-- frameworks -->
        <i class="devicon-spring-plain-wordmark"></i>
        <i class="devicon-flask-plain-wordmark"></i>

        <!-- database -->
        <i class="devicon-mysql-plain-wordmark"></i>
        <i class="devicon-microsoftsqlserver-plain-wordmark"></i>
        <i class="devicon-oracle-original"></i>

        <!-- misc -->
        <i class="devicon-amazonwebservices-plain-wordmark"></i>
        <i class="devicon-git-plain-wordmark"></i>
        <i class="devicon-github-original-wordmark"></i>







    </div>
</header>