<header id="skills" class="section">
    <div class="section-header">
        <h1>Skills</h1>
    </div>

    <div class="skills-list">

        <!-- languages -->
        <i class="devicon-java-plain-wordmark colored"></i>
        <i class="devicon-python-plain-wordmark colored"></i>
        <i class="devicon-javascript-plain colored"></i>
        <i class="devicon-html5-plain-wordmark colored"></i>
        <i class="devicon-css3-plain-wordmark colored"></i>

        <!-- frameworks -->
        <i class="devicon-spring-plain-wordmark colored"></i>
        <i class="devicon-flask-plain-wordmark colored"></i>

        <!-- database -->
        <i class="devicon-mysql-plain-wordmark colored"></i>
        <i class="devicon-microsoftsqlserver-plain-wordmark colored"></i>
        <i class="devicon-oracle-original colored"></i>

        <!-- misc -->
        <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
        <i class="devicon-git-plain-wordmark colored"></i>
    </div>
</header>