/* Global Styles */

@import "~font-awesome/css/font-awesome.min.css";
@import "devicon/devicon.min.css";

html {
    background-color: #282c34; 
    text-align: center;
}


  /* animations */
  
  @keyframes wipe-enter {
    0% {
      transform: scale(0, .025);
    }
    50% {
      transform: scale(1, .025);
    }
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes zoom-in{
    0% {
      transform: scale(0, 0);
    }
    100% {
      transform: scale(1, 1);
    }
  }

  /* section css */
  
.section {
    margin: 20px;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    transition: top 0.3s;  
  }
  
  .section-header {
    border-bottom: 1px solid #cec8c8;
    text-transform: uppercase;
  }


  /* skills css */

  .section i {
    font-size: 6rem;
    flex: 0 0 21%;
}

.skills-list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-bottom: 25px;
    justify-content: center;
}

/* social links */

.social-links{
  text-align: center;
}

.social-links a {
    background-color: white;
    margin: 6px;
    border-radius: 100%;
    display: inline-block;
    width: 3.5rem;
    height: 3.5rem;
    animation: fadein 2s;
  }

  .social-links i {
    font-size: 2rem;
    line-height: 3.5rem;
  }
