
    <!--- Navigation Buttons -->
<header  class="about-me" #header>
        <div class="name-block">
        <h1 class="name-text">Ben</h1>
        <h1 class="name-text">Thompson</h1>
    </div>

<nav>
    <ul class="nav-menu">
        <li>
            <a class="nav-menu-btn" href="#about" #aboutBtn>About</a>
        </li>
        <li>
            <a class="nav-menu-btn" href="#experience" #expBtn>Experience</a>
        </li>
        <li>
            <a class="nav-menu-btn" href="#skills" #skillBtn>Skills</a>
        </li>
        <li>
            <a class="nav-menu-btn" href="#projects" #projectsBtn>Projects</a>
        </li>
    </ul>
</nav>
</header>

<!-- Content Panels -->
<main>
    <!-- About --->
    <div class="panel" #aboutPanel>
        <div class="burger-menu" #aboutBackBtn>
            <div class="inner">
            <div class="top menu-line">
            </div>
            <div class="bottom menu-line">
        </div>
        </div>
        </div>
        <app-about></app-about>
    </div>

    <!-- Experience --->
    <div class="panel" #expPanel>
        <div class="burger-menu" #expBackBtn>
            <div class="inner">
            <div class="top menu-line">
            </div>
            <div class="bottom menu-line">
            </div>
        </div>
        </div>

        <app-experience></app-experience>
    </div>

    <!-- Skills --->
    <div class="panel" #skillsPanel>
        <div class="burger-menu" #skillsBackBtn>
            <div class="inner">
            <div class="top menu-line">
            </div>
            <div class="bottom menu-line">
            </div>
        </div>
        </div>
        <app-skills></app-skills>
    </div>

    <!-- Projects --->
    <div class="panel" #projectsPanel>
        <div class="burger-menu" #projectsBackBtn>
            <div class="inner">

            <div class="top menu-line">
            </div>
            <div class="bottom menu-line">
            </div>
        </div>
        </div>
        <app-projects></app-projects>
    </div>
</main>


    <!--- Footer -->
    <footer class="footer" #footer>
        <p class="copyright-text">© 2024 Benjamin Thompson. Background: <a
                href="https://unsplash.com/photos/mountain-range-Sk32_wG8lcQ" target="_blank"
                rel="noopener noreferrer">unsplash</a></p>
    </footer>